h2 {
	border-bottom: 1px solid lightgrey;
}
h3 {
	border-bottom: 1px dashed grey;
}
.chart {
}
.chart div {
	font: 10px sans-serif;
	background-color: steelblue;
	text-align: right;
	padding: 3px;
	margin: 1px;
	color: white;
	white-space: nowrap;
}